.mat-form-field {

  position: relative ;
  flex-direction: column;
  width: 10%;
}

/* .example-container > * {
  width: 20%;
} */
.mat-button {
  background-color: lightgrey;
  width: 20px;
}

h2{
  margin-bottom: 10%;
}
