<div ng-controller="HomeController">
    <head>
            <!-- <script src="bower_components/angular/angular.js"></script>       
            <script src="bower_components/angular-route/angular-route.js"></script> -->
        <h1>
            {{ message }}
        </h1> 
        <!-- <button class="btn" href="/home.html" ng-click="">Home</button> -->
    </head>
    <body>
        <div>
            <button class="btn" ng-click="redirect()">Listes sociétés</button>
            <button class="btn" ng-click="">Listes chauffeurs</button>
        </div>  
        
    </body>

</div>
