<!DOCTYPE html>

<h2 mat-dialog-title>Edit the driver "{{data.id}}"</h2>
<mat-dialog-content  [formGroup]="form">

  <mat-form-field>
      <input matInput placeholder="Lastname" formControlName="last_name">
  </mat-form-field>

  <mat-form-field>
      <input matInput placeholder="Firstname" formControlName="first_name">
  </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Username" formControlName="username">
  </mat-form-field>
    <mat-form-field>
      <input matInput type="password" placeholder="Password" formControlName="password">
  </mat-form-field>
    <mat-form-field>
      <input matInput style="display: none">
      <mat-checkbox formControlName="is_staff">Is Staff</mat-checkbox>
  </mat-form-field>
  <mat-dialog-content formGroupName ="driver">

    <mat-form-field >
        <input matInput [matDatepicker]="datepicker"  placeholder="Birthdate" formControlName="birthdate">
        <mat-datepicker-toggle matSuffix [for]="datepicker" ></mat-datepicker-toggle>
        <mat-datepicker #datepicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
        <input matInput style="display: none" >
        <mat-checkbox formControlName="owner">owner</mat-checkbox>
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Address" formControlName="adress">
    </mat-form-field>

    <mat-form-field>
        <input matInput type="number"placeholder="Number" formControlName="addnum">
      </mat-form-field>

    <mat-form-field>
      <input matInput type="number" min="1000" max="9992" placeholder="Locality" formControlName="locality">
    </mat-form-field>

    <mat-form-field >
        <input matInput [matDatepicker]="datepicker2"  placeholder="licenseExp" formControlName="licenseExp">
        <mat-datepicker-toggle matSuffix [for]="datepicker2" ></mat-datepicker-toggle>
        <mat-datepicker #datepicker2></mat-datepicker>
    </mat-form-field>
  </mat-dialog-content>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button type="submit" class="mat-raised-button mat-primary"(click)="save()">Update</button>
</mat-dialog-actions>
