<!DOCTYPE html>

<h2 mat-dialog-title>Edit car {{data.platenum}}  </h2>
<mat-dialog-content [formGroup]="form">

  <mat-form-field>
      <input matInput placeholder="Brand" formControlName="brand">
      <mat-error *ngFor="let validation of validation_messages.brand">
        <div *ngIf="this.form.get('brand').hasError(validation.type)">
          {{ validation.message }}
        </div>
      </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Model" formControlName="model">
    <mat-error *ngFor="let validation of validation_messages.model">
      <div *ngIf="this.form.get('model').hasError(validation.type)">
        {{ validation.message }}
      </div>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Plate Number" formControlName="platenum">
    <mat-error *ngFor="let validation of validation_messages.platenum">
      <div *ngIf="this.form.get('platenum').hasError(validation.type)">
        {{ validation.message }}
      </div>
    </mat-error>
  </mat-form-field>

  <mat-form-field>
      <input matInput type="number"placeholder="Taxi Number" min="0" max="9999" formControlName="numTaxi" (keyup)="onkeynumtaxi($event.target.value)">
      <mat-error *ngFor="let validation of validation_messages.numTaxi">
        <div *ngIf="this.form.get('numTaxi').hasError(validation.type)">
          {{ validation.message }}
        </div>
      </mat-error>
   </mat-form-field>

</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button type="submit" [disabled]="!form.valid" class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>

