<!DOCTYPE html>

<h2 mat-dialog-title>Create a new driver</h2>
<mat-dialog-content [formGroup]="form">

  <mat-form-field>
      <input matInput placeholder="Lastname" formControlName="last_name">
      <mat-error *ngFor="let validation of validation_messages.last_name">
        <div *ngIf="this.form.get('last_name').hasError(validation.type)">
          {{ validation.message }}
        </div>
      </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Firstname" formControlName="first_name">
    <mat-error *ngFor="let validation of validation_messages.first_name">
        <div *ngIf="this.form.get('first_name').hasError(validation.type)">
          {{ validation.message }}
        </div>
      </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Username" formControlName="username">
    <mat-error *ngFor="let validation of validation_messages.username">
        <div *ngIf="this.form.get('username').hasError(validation.type)">
          {{ validation.message }}
        </div>
    </mat-error>
    <mat-error *ngIf="form.controls['username'].hasError('nop')">This plate already exists</mat-error>
  </mat-form-field>
   <mat-form-field>
    <input matInput #password type="password" placeholder="password" minlength="8" formControlName="password">
    <mat-hint align="end">{{password.value.length}} / 8</mat-hint>
    <mat-error *ngFor="let validation of validation_messages.password">
      <div *ngIf="this.form.get('password').hasError(validation.type)">
        {{ validation.message }}
      </div>
  </mat-error>
  </mat-form-field>
  <!-- <mat-form-field>
    <input matInput style="display: none">
    <mat-checkbox [(ngModel)]="checked" formControlName="is_staff">isStaff</mat-checkbox>
  </mat-form-field> -->

  <mat-dialog-content formGroupName ="driver">
    <mat-form-field >
      <input matInput [matDatepicker]="datepicker" [max]="age21"  placeholder="Birthdate" formControlName="birthdate">
      <mat-datepicker-toggle matSuffix [for]="datepicker" ></mat-datepicker-toggle>
      <mat-datepicker #datepicker></mat-datepicker>
      <mat-error *ngFor="let validation of validation_messages.birthdate">
        <div *ngIf="this.form.get('driver.birthdate').hasError(validation.type)">
          {{ validation.message }}
        </div>
    </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput style="display: none">
      <mat-checkbox [(ngModel)]="checked2" formControlName="owner">owner</mat-checkbox>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Address" formControlName="adress">
      <mat-error *ngFor="let validation of validation_messages.adress">
        <div *ngIf="this.form.get('driver.adress').hasError(validation.type)">
          {{ validation.message }}
        </div>
    </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number"placeholder="Number" formControlName="addnum">
      <mat-error *ngFor="let validation of validation_messages.addnum">
        <div *ngIf="this.form.get('driver.addnum').hasError(validation.type)">
          {{ validation.message }}
        </div>
    </mat-error>
    </mat-form-field>
    <mat-form-field>
      <input matInput type="number" min="1000" max="9992" placeholder="Locality" formControlName="locality">
      <mat-error *ngFor="let validation of validation_messages.locality">
        <div *ngIf="this.form.get('driver.locality').hasError(validation.type)">
          {{ validation.message }}
        </div>
    </mat-error>
    </mat-form-field>
    <mat-form-field >
      <input matInput [matDatepicker]="licensepicker" [min]="minFromDate"  placeholder="License Expire" formControlName="licenseExp">
      <mat-datepicker-toggle matSuffix [for]="licensepicker" ></mat-datepicker-toggle>
      <mat-datepicker #licensepicker></mat-datepicker>
      <!-- <mat-error *ngFor="let validation of validation_messages.licenseExp">
        <div *ngIf="this.form.get('driver.licenseExp').hasError(validation.type)">
          {{ validation.message }}
        </div>
    </mat-error> -->
    </mat-form-field>

  </mat-dialog-content>

</mat-dialog-content>


<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button type="submit" [disabled]="!form.valid" class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions>
